<a id='1'></a><center> <h3 style="background-color:orange; color:white" ><br>Python Data Structures<br></h3>

# `Types of Data Structures:`
* `List` | `Tuple`
* `Set` | `Dictionary`

|Data Structures type|Mutable|Comments|Indexing|Ordered|Duplicacy|
|----|----|----|----|----|----|
tuple ()|immutable|immutable version of list| possible|yes |allowed |
list []|mutable|-|possible |yes | allowed |
set {}|mutable| -|not |no |not |
dict {key:value}|mutable|-|possible |no |not  |

üí´ `immutable` => `can't be changed` <br>
üí´ `mutable` => `can be changed`

## Lists

### Create an empty list with the name ‚Äòa‚Äô, print the value of a and type(a).

In [ ]:
# create empty list, name it 'a'

In [2]:
a = []
type(a)

list

In [3]:
# print the value of a
a=[1,2,3,"himanshu"]
a

[1, 2, 3, 'himanshu']

In [5]:
# print the type of a
type(a)

list

### Create a list , languages = ['R','Python', 'SAS', 'Scala', 42],

In [6]:
languages= ['R','Python','SAS','Scala',42]

Print the number of elements in the list

In [7]:
len(languages)

5

Using for loop iterate and print all the elements in the list

In [10]:
for i in languages:
  print(i)

R
Python
SAS
Scala
42

Select the second item, 'Python' and store it in a new variable named 'temp'

In [11]:
temp=languages[1]
temp

'Python'

Print the value of temp and type(temp)

In [13]:
temp
type(temp)

str

Append the element 'Java' in the list

In [14]:
languages.append('Java')
languages

['R', 'Python', 'SAS', 'Scala', 42, 'Java']

Remove the element 42 from the list and print the list

In [15]:
languages.remove(42)
languages

['R', 'Python', 'SAS', 'Scala', 'Java']

### Create a list, colors = [‚ÄòRed‚Äô, ‚ÄòBlue‚Äô, ‚ÄòWhite‚Äô]

In [26]:
colors=['Red','Bue','White']

Append the element 'Black' to colors

In [27]:
colors.append('Black')
colors

['Red', 'Bue', 'White', 'Black']

Append the color 'Orange' to second position (index=1) and print the list

In [28]:
colors[1]='Orange'
colors

['Red', 'Orange', 'White', 'Black']

Print the list

In [29]:
colors

['Red', 'Orange', 'White', 'Black']

Create another list, colors2 = [‚ÄòGrey‚Äô, ‚ÄòSky Blue‚Äô]

In [30]:
colors2=['Grey','Sky Blue']

Add the elements of colors2 to colors using extend function in the list

In [31]:
colors.extend(colors2)
colors

['Red', 'Orange', 'White', 'Black', 'Grey', 'Sky Blue']

Print len of colors and its elements

In [33]:
len(colors)
colors

['Red', 'Orange', 'White', 'Black', 'Grey', 'Sky Blue']

Sort the list and print it.

In [35]:
colors.sort()

colors

['Black', 'Grey', 'Orange', 'Red', 'Sky Blue', 'White']

### Create a string, sent = ‚ÄòCoronavirus Caused Lockdowns Around The World.‚Äù

In [61]:
sent='Coronavirus Caused Lockdowns Around The World'
sent

'Coronavirus Caused Lockdowns Around The World'

Use split function to convert the string into a list of words and save it in variable words and print the same

In [62]:
sent.split()

['Coronavirus', 'Caused', 'Lockdowns', 'Around', 'The', 'World']

Convert each word in the list to lower case and store it in variable words_lower.
Print words_lower

In [63]:
sent.lower()

'coronavirus caused lockdowns around the world'

Check whether ‚Äòcountry‚Äô is in the list

In [64]:
sent.find('country')

-1

Remove the element ‚Äòthe‚Äô from the list and print the list.

In [66]:
words=sent.split()
words.remove('The')
sent = ' '.join(words)
sent

'Coronavirus Caused Lockdowns Around World'

Select the first 4 words from the list words_lower using slicing and store them in a new variable x4

In [67]:
words_lower=sent.lower()
x4=words_lower.split()[0:4]

In [69]:
print (x4)

['coronavirus', 'caused', 'lockdowns', 'around']

Convert the list of elements to single string using join function and print it

In [71]:
sent=' '.join(x4)
sent

'coronavirus caused lockdowns around'

## Sets

### Create stud_grades = ['A','A','B','C','C','F']

In [72]:
stud_grades=['A','A','B','C','C','F']

Print the len of stud_grades

In [73]:
len(stud_grades)

6

Create a new variable, stud_grades_set = set(stud_grades)

In [74]:
stud_grades_set=set(stud_grades)
stud_grades_set

{'A', 'B', 'C', 'F'}

Print stud_grades_set.

In [75]:
print(stud_grades_set)

{'C', 'B', 'A', 'F'}

print the type of stud_grades and stud_grades_set and print their corresponding elements. Try to understand the difference between them.

In [76]:
type(stud_grades)
type(stud_grades_set)
print(stud_grades)
print(stud_grades_set)

['A', 'A', 'B', 'C', 'C', 'F']
{'C', 'B', 'A', 'F'}

Add a new element ‚ÄòG‚Äô to stud_grades_set

In [77]:
stud_grades_set.add('G')
stud_grades_set

{'A', 'B', 'C', 'F', 'G'}

Add element 'F' to stud_grades_set. and print it.

In [78]:
stud_grades_set.add('F')
stud_grades_set

{'A', 'B', 'C', 'F', 'G'}

!!Did you notice? set doesn't add an element if it's already present in it, unlike lists.

Remove ‚ÄòF‚Äô from stud_grades_set

In [79]:
stud_grades_set.remove('F')
stud_grades_set

{'A', 'B', 'C', 'G'}

Print the elements and the length of stud_grades_set

In [82]:
len(stud_grades_set)

4

### Create colors = [‚Äòred‚Äô,‚Äôblue‚Äô,‚Äôorange‚Äô], and fruits = [‚Äòorange‚Äô,‚Äôgrapes‚Äô,‚Äôapples‚Äô]

In [84]:
colors=['red','blue','orange']
fruits=['orange','grapes','apples']

Print color and fruits

In [85]:
print(colors)
print(fruits)

['red', 'blue', 'orange']
['orange', 'grapes', 'apples']

Create colors_set, and fruits_set. (using set() ) and print them

In [89]:
set_colors=set(colors)
set_fruits=set(fruits)
print(set_colors)
print(set_fruits)

{'orange', 'blue', 'red'}
{'apples', 'orange', 'grapes'}

Find the union of both the sets.

In [90]:
set_colors.union(set_fruits)

{'apples', 'blue', 'grapes', 'orange', 'red'}

Find the intersection of both the sets

In [91]:
set_colors.intersection(set_fruits)

{'orange'}

Find the elements which are Fruits but not colors (using set.difference() )

In [92]:
set_fruits.difference(set_colors)

{'apples', 'grapes'}

## TUPLES

### Create temp = [17, ‚ÄôVirat‚Äô, 50.0]

In [93]:
temp=[17,'Virat',50.0]

Iterate through temp and print all the items in temp

In [94]:
temp=[17,'Virat',50.0]
for i in temp:
  print(i)

17
Virat
50.0

replace first element with 11 in temp

In [95]:
temp[0]=11
temp

[11, 'Virat', 50.0]

Set temp1 = tuple(temp)

In [96]:
temp1=tuple(temp)
temp1

(11, 'Virat', 50.0)

Iterate through temp1 and print all the items in temp1.

In [98]:
for i in temp1:
  print(i)

11
Virat
50.0

replace first element with 17 in temp1

In [99]:
temp1[0]=17
temp1

TypeError: 'tuple' object does not support item assignment

<b>Oops!! You got an error. Hey Don't worry! Its because Once a tuple is created, you cannot change its values unlike list.</b>

### Create city = ("Bangalore", 28.9949521, 72)

In [100]:
city=("Bangalore",28.9949521,72)

Print first element of city

In [102]:
city[0]

'Bangalore'

Create city2 = (‚ÄòChennai‚Äô, 30.01, 74)

In [103]:
city2=('Chennai',30.01,74)

Create cities which consist of city and city2

In [104]:
cities=(city,city2)
cities

(('Bangalore', 28.9949521, 72), ('Chennai', 30.01, 74))

Print cities

In [105]:
print(cities)

(('Bangalore', 28.9949521, 72), ('Chennai', 30.01, 74))

Print type of first element in cities

In [106]:
type(cities[0])

tuple

print the type of cities

In [107]:
type(cities)

tuple

Hey that implies you made a nested tuples!!

## DICTIONARY

### Create a dictionary d = {"actor":"amir","animal":"cat","earth":2,"list":[23,32,12]}

In [108]:
d={"actor":"amir","animal":"cat","earth":2,"list":[23,32,12]}

Print the value of d[0]

In [115]:
d[0]

KeyError: 0

<b>Oops!! again an error. again a fun fact. Dictionary return the value for key if key is in the dictionary, else throws KeyError
and we don't have key 0 here :( </b>

Store the value of d[‚Äòactor‚Äô] to a new variable actor.

In [117]:
d['actor']='salman'
d['actor']

'salman'

Print the type of actor

In [118]:
type(d['actor'])

str

Store the value of d[‚Äòlist‚Äô] in new variable List.

In [119]:
d['list']=[1,2,3]

Print the type of List.

In [121]:
print(type(d['list']))

<class 'list'>

Create d1 = { ‚Äòsinger‚Äô : ‚ÄòKr$na‚Äô , ‚Äòalbum‚Äô: ‚ÄòStill here‚Äô, ‚Äògenre‚Äô : ‚Äòhip-hop‚Äô}

In [122]:
d1={'singer':'Kr$na','album':'Still here','genre':'hip-hop'}

Merge d1 into d.

In [124]:
d.update(d1)

print d

In [125]:
d

{'actor': 'salman',
 'animal': 'cat',
 'earth': 2,
 'list': [1, 2, 3],
 'singer': 'Kr$na',
 'album': 'Still here',
 'genre': 'hip-hop'}

Print all the keys in d

In [126]:
d.keys()

dict_keys(['actor', 'animal', 'earth', 'list', 'singer', 'album', 'genre'])

Print all the values in d

In [127]:
d.values()

dict_values(['salman', 'cat', 2, [1, 2, 3], 'Kr$na', 'Still here', 'hip-hop'])

Iterate over d, and print each key, value pair as this - (actor ----> amir)

In [128]:
for i in d.items():
  print(i)

('actor', 'salman')
('animal', 'cat')
('earth', 2)
('list', [1, 2, 3])
('singer', 'Kr$na')
('album', 'Still here')
('genre', 'hip-hop')

 count the number of occurences of charachters in string named "sent" using dictionary and print the same.

In [130]:
d={"sent":4}
d

{'sent': 4}